body{
    font-family: 'Oswald', sans-serif;
}

.container{
    display: grid;
    grid-template-areas: 
    "header header"
    "nav nav"
    "sidebar content"
    "footer footer";
}

header{
    grid-area: header;
    background-color: black;
    color: whitesmoke;
}

nav {
    grid-area: nav;
    background-color: rgb(0, 0, 0);
}

aside {
    grid-area: sidebar;
    background-color: black;
    color: whitesmoke;
}

.content {
    grid-area: content;
    background-color: darkgoldenrod;
}

footer {
    grid-area: footer;
    background-color: black;
    color: whitesmoke;
}
